# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#iPython
profile_default/
.ipynb_checkpoints/
# results
results/
*.csv
*.html
# Tool log Files
*.log

# Intellij
.idea/

# Mac
.DS_Store
